<!DOCTYPE html>
<html lang="en">
<%- include('layouts/header') %>
<body>
    <%- include('layouts/navbar') %>

    <!-- Page Header-->
    <% const bgImage = post.image ? post.image : 'assets/img/post-bg.jpg' %>
    <header class="masthead" style="background-image: url('<%= bgImage %>')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="post-heading">
                        <h1><%= post.title %></h1>
                        <span class="meta">
                            Posted by <strong><%= post.user ? post.user.username : 'Unknown' %></strong>
                            on <%= post.createdAt.toDateString() %>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Post Content-->
    <article class="mb-4">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <%- post.body %>

                    <hr>
                    <a href="/" class="btn btn-secondary">← Back to Home</a>

                    <% if (user && post.user && user._id.toString() === post.user._id.toString()) { %>
                        <a href="/posts/<%= post._id %>/edit" class="btn btn-primary">Edit Post</a>
                        <form action="/posts/<%= post._id %>?_method=DELETE" method="POST" style="display:inline;">
                            <button type="submit" class="btn btn-danger">Delete Post</button>
                        </form>
                    <% } %>
                </div>
            </div>
        </div>
    </article>

    <%- include('layouts/footer') %>
    <%- include('layouts/scripts') %>
</body>
</html>